@{
    //int age = 23;
    //string value = string.Empty;
    //if (age > 18)
    //{
    //    value = "Above 18";
    //}
    //else
    //{
    //    value = "Under 18";
    //}

    //int Calculate(int number1, int number2) 
    //{
    //    return number1 + number2;
    //}
    //var result = Calculate(7, 98);

    List<string> names = new() { "Ragnar", "Lagertha", "Bjorn", "Atheltsan", "Helga" };
}

<p>
    @*Status = @value*@
    @*Status = @(age>18?" Above 18":" Under 18");*@

    @*Status = @result;*@
</p>

    @foreach (var item in names)
    {
        <p>
            @*@item;*@

            @(item == "Ragnar"?"Ragnar Lothbrok":item)
        </p>
    }
