@model FileInfo[]
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-4">
        <partial name="_NewsPartial" model="NewsContext.List" />
    </div>

    <div class="col-8">
        <a asp-action="Create">Create</a>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Creation Time </th>
                    <th> Path </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.Name </td>
                        <td> @item.CreationTime </td>
                        <td> @item.FullName </td>
                        <td>
                            <a asp-action="Delete" asp-route-fileName="@item.Name">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>